/* addtocartstyles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar styles */
.navbar {
    background-color: #4e5e6f;
    color: #ffffff;
    padding: 2rem 2rem;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
.navbar-logo {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}
.navbar-menu {
    list-style: none;
    display: flex;
}
.navbar-item {
    margin-right: 1.5rem;
    font-size: 1.2rem;
}
.navbar-link, .navbar-button {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}
.navbar-link:hover, .navbar-button:hover {
    color: #e3e9e7; 
}

.active .navbar-link {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .navbar-menu {
        flex-direction: column;
        overflow-x: hidden;
        background-color: #617585;
        padding: 10px;
        border-top: 1px solid #555; 
    }
    
    .navbar-item {
        margin-bottom: 10px;
        margin-right: 0;
        text-decoration: none;
        color: #ffffff;
    }
    
    .navbar-logo {
        margin-bottom: 10px;
    }
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
    padding: 20px;
    gap: 20px;
}

.product {
    width: 100%;
    max-width: 300px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.product img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.product h3 {
    margin: 10px;
    font-size: 1.2em;
}

.product p {
    margin: 5px 10px;
}

.add-to-cart-btn {
    display: block;
    width: calc(100% - 20px);
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    
}

.add-to-cart-btn:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
    }

    .navbar-menu {
        flex-direction: column;
        gap: 10px;
    }

    .product-container {
        flex-direction: column;
        align-items: center;
    }

    .product {
        width: 90%;
        max-width: 400px;
    }
}
