* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

header {
  background-color: #4d6c8e;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

main {
  padding: 20px;
}

.booking-section {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.booking-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button[type="submit"],
button {
  background-color: #4d6c8e;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover,
button:hover {
  background-color: #4d5761;
}

#bookingSummary {
  display: none;
  margin-top: 20px;
}

#bookingSummary h3 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

#bookingSummary p {
  margin-bottom: 10px;
}

#modifyBooking,
#confirmBooking {
  background-color:  #4e5e6f;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

#modifyBooking:hover,
#confirmBooking:hover {
  background-color: #555;
}

/* Footer */
footer {
  background-color:  #4d6c8e;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 0;
  font-size: 16px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
